<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Airbnb Price Prediction ML</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
 <div class="login">
	<h1>Predict Airbnb Price</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="text" name="room_type_entire" placeholder="Are you renting an entire home? (enter 1 for yes, 0 fo no)" required="required" />
      <input type="text" name="bathrooms" placeholder="Number of bathrooms" required="required" />
      <input type="text" name="manhattan" placeholder="Is this in Manhattan? (enter 1 for yes, 0 fo no)" required="required" />
      <input type="text" name="cleaning_fee" placeholder="Cleaning Fee ($)" required="required" />
      <input type="text" name="bedrooms" placeholder="Number of bedrooms" required="required" />
      <input type="text" name="accommodates" placeholder="How many people will it accommodates?" required="required" />
      <input type="text" name="security_deposit" placeholder="Security Deposit ($)" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Show Me the Money</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
